.ReactModal__Content {
  width: 75%;
  height: 75%;
  padding: 20px;
  outline: none;
  overflow: auto;
}

.ReactModal__Content__Mobile {
  width: 100%;
  height: 100%;
  padding: 20px;
  outline: none;
  overflow: auto;
}
